<app-nav-bar></app-nav-bar>

<ion-content>
  <div class="contenido">
    <ion-list lines="none" class="list-visualizer">
      <ng-container *ngFor="let section of sections">
        <ion-item
          color="light"
          button
          (click)="section.open = !section.open"
          class="song-header">
          <ion-label>{{ section.name }}</ion-label>
          <ion-icon
            slot="end"
            name="chevron-down-outline"
            *ngIf="!section.open"></ion-icon>
          <ion-icon
            slot="end"
            name="chevron-up-outline"
            *ngIf="section.open"></ion-icon>
        </ion-item>
        <div *ngIf="section.open">
          <p class="song-item" style="white-space: pre-wrap">
            {{ section.content }}
          </p>
        </div>
      </ng-container>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="songIds.length > 0">
    <ion-fab-button (click)="nextSong()" color="secondary" [disabled]="currentIndex === songIds.length - 1">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="songIds.length > 0">
    <ion-fab-button (click)="prevSong()" color="secondary" [disabled]="currentIndex === 0">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
