<app-nav-bar></app-nav-bar>

<ion-content>
  <div class="contenido">
    <ion-list lines="none" class="list-visualizer">
      <ng-container *ngFor="let section of sections">
        <ion-item
          color="light"
          button
          (click)="section.open = !section.open"
          class="song-header">
          <ion-label>{{ section.name }}</ion-label>
          <ion-icon
            slot="end"
            name="chevron-down-outline"
            *ngIf="!section.open"></ion-icon>
          <ion-icon
            slot="end"
            name="chevron-up-outline"
            *ngIf="section.open"></ion-icon>
        </ion-item>
        <div *ngIf="section.open">
          <p class="song-item" style="white-space: pre-wrap">
            {{ section.content }}
          </p>
        </div>
      </ng-container>
    </ion-list>
  </div>

  <!-- Botón flotante izquierda (Anterior) -->
  <!-- <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button
      color="medium"
      (click)="prevSong()"
      [disabled]="currentIndex === 0">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- Botón flotante derecha (Siguiente) -->
  <!-- <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button
      color="medium"
      (click)="nextSong()"
      [disabled]="currentIndex === songIds.length - 1">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->
