<ion-content [fullscreen]="true">
  <div class="bienvenido">
    <ion-title>Administrador!</ion-title>
    <p>Ingresa con tu cuenta de administrador</p>
  </div>

  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="ion-padding">
      <ion-item>
        <ion-input type="text" formControlName="email">Correo
          electronico</ion-input>
        <ion-icon name="person-outline"></ion-icon> </ion-item><br /><br />
      <ion-item>
        <ion-input type="password"
          formControlName="password">Contrasena</ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>
    <div class="button">
      <ion-button color="primary" type="submit">Enviar</ion-button>
      <ion-button color="danger" (click)="goToLanding()">Volver</ion-button>
    </div>
  </form>
</ion-content>
