/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* Mis estilos para configuración */
/* Celular */
/* Letra de song X1.4*/
body.large-song-text-1 {
    .song-header {
        font-size: 1.4em;
    }

    .song-item {
        font-size: 1.3em;
    }
}

/*Contenido de lista*/
body.large-list-text-1 {
    .list-header {
        font-size: 1.4em;
    }

    .list-item {
        font-size: 1.3em;
    }
}

/* Letra de song X1.8*/
body.large-song-text-2 {
    .song-header {
        font-size: 1.8em;
    }

    .song-item {
        font-size: 1.7em;
    }
}

/*Contenido de lista*/
body.large-list-text-2 {
    .list-header {
        font-size: 1.8em;
    }

    .list-item {
        font-size: 1.7em;
    }
}


/* TABLET */
/* Letra de song */
body.large-song-text-tablet-1 {
    .song-header {
        font-size: 1.8em;
    }

    .song-item {
        font-size: 1.7em;
    }
}

/*Contenido de lista*/
body.large-list-text-tablet-1 {
    .list-header {
        font-size: 1.8em;
    }

    .list-item {
        font-size: 1.7em;
    }
}

/* Letra de song */
body.large-song-text-tablet-2 {
    .song-header {
        font-size: 2.4em;
    }

    .song-item {
        font-size: 2.3em;
    }
}

/*Contenido de lista*/
body.large-list-text-tablet-2 {
    .list-header {
        font-size: 2.4em;
    }

    .list-item {
        font-size: 2.3em;
    }
}