<app-nav-bar></app-nav-bar>
<div class="search-bar-container">
  <input
    type="text"
    class="search-bar"
    placeholder="Buscar lista"
    [(ngModel)]="searchTerm"
    (input)="filterLists()" />
</div>
<ion-content class="background-content">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <div class="list-week" *ngFor="let list of filteredLists">
      <div class="list-item" (click)="openListPage(list.id)">
        <span class="list-label">
          <b class="fas fa-music icon-musical-note"></b> {{ list.name }}
        </span>
      </div>
    </div>
  </div>
</ion-content>
