ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    text-align: center;
    align-items: center;
    width: 100%;
    /* Ensure content spans full width of the container */
    padding-top: 1em;
    /* Space between image and content */
}

.img {
    height: 30%;
    max-height: 500px;
    /* Maximum height is 30% of the viewport height */
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: 800;
    color: var(--ion-color-primary);
}

.center-content ion-button {
    width: 80%;
    max-width: 500px;
    margin: 1em 0;
    /* Space between buttons */
}